/*Selector universal*/
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}

/*Selector por etiqueta*/
header {
    background: rgb(42, 42, 97);
    text-align: center;
    color: white;
    padding: 10px;
}

footer {
    background: rgb(42, 42, 97);
    text-align: center;
    color: white;
    line-height: 70px;
    bottom: 0px;
    position: fixed;
    width: 100%;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    color: gray;
}

footer a {
    color: aliceblue;
}

img {
    height: 190px;
}

/*Selector por Id*/

#contenido {
    border: 2px solid rgb(54, 38, 200);
    padding: 10px;
    text-align: center;
}

#descripcion {
    text-align: left;
    font-style: italic;
    text-decoration: underline;
    margin: 15px;
}

#menu ul {
    display: flex;
    justify-content: space-evenly;
    background-color: #eee;
    list-style-type: none;

}

#menu ul li a {
    display: block;
    padding: 15px;
    color: #444;
}

#menu ul li:hover {
    background: rgb(16, 75, 143);
    cursor: pointer;
}

#menu ul li:hover a{
    color: white;
}

#contenido table {
    margin:auto;   
}

#contenido h2 {
    color: cornflowerblue;
    margin: 10px;
}

#contenido form {
    border: 5px solid blue;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
}

#contenido form * {
    display: inline-block;
}

input[type="text"], select {
    margin-bottom: 15px;
    padding: 10px;
    width: 300px;
}

input[type="submit"], button {
    background-color: #7d0a42;
    color: white;
    padding: 15px;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid black;
    cursor: pointer;
}

.contacto-item-flex {
    display: grid !important;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto;
    grid-gap: 5px 50px;
}